<div class="row">
    <div class="container-fluid px-0">
        {{>home/header}}
    </div>
</div>
<div class="container-fluid mt">
    <h2 class="mt-2">
        Danh sách sản phẩm yêu thích
    </h2>
    <table class="table table-striped" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá hiện tại </th>
                <th>Thời gian còn lại</th>
            </tr>
        </thead>
        {{#each fav}}
        <tr>
            <td><a class="nav-link text-dark px-0" href="/product/{{ProID}}">{{ProName}}</a></td>
            <td>{{formatedPrice}}</td>
            <td>{{TimeLeft}}</td>
        </tr>
        {{/each}}
    </table>
</div>