<div class="row">
    <div class="container-fluid px-0">
        {{>home/header}}
    </div>
</div>
<div class="container-fluid mt">
    <h2 class="mt-2">
        {{head}}
    </h2>
    <table class="table table-striped" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Ngày</th>
                <th>Người xin</th>
                <th>Điểm đánh giá</th>
                <th>Tên sản phẩm</th>
                <th>Hành động</th>
            </tr>
        </thead>
        {{#each Permiss}}
        <tr>
            <td>{{@index}}</td>
            <td>{{Date}}</td>
            <td>{{SellName}}</td>
            <td>{{Rate}}%</td>
            <td><a class="nav-link text-dark px-0" href="/product/{{ProID}}">{{ProName}}</a></td>
            <td>
                <div class="d-flex justify-content-around">
                    <a class="nav-link px-0" href="{{#if_eq ../session.f_Permission 0}}/tosell/{{f_ID}}{{else}}/permiss/{{PermissID}}{{/if_eq}}/1">
                        Cho phép 
                    </a>
                    <span> </span>
                    <a class="nav-link px-0" href="{{#if_eq ../session.f_Permission 0}}/tosell/{{f_ID}}{{else}}/permiss/{{PermissID}}{{/if_eq}}/0">
                        Từ chối
                    </a>
                </div>

            </td>
        </tr>
        {{/each}}
    </table>
</div>