<div class="row">
    <div class="container-fluid px-0">
        {{>home/header}}
    </div>
</div>
<div clas="container-fluid bg-light">
    <div class="row justify-content-between mt-3">
        <div id="thongtin" class="col col-md-4 bg-secondary text-white rounded ml-5 p-5">
            <h3> Thông tin người dùng </h3>
            <div class="col col-md-auto pt-4">
                
                <p> Tên: {{user.f_Name}}</p>
                <p> Username : {{user.f_Username}}</p>
                <p> Địa chỉ Email: {{user.f_Email}}</p>
                <p> Địa chỉ: {{user.f_Address}}</p>
                <a type="button" class="px-0 py-2 nav-link text-light" onclick="editPass();"> Đổi mật khẩu</a>
            </div>
            <button class="btn btn-outline-light my-3" onclick="editClick();">Chỉnh sửa</button>
            {{#section 'script'}}
            <script>
              
                    function editPass() {
                        $('#thongtin').empty();
                        $('#thongtin').append(`
                      <form id="#pass" action="/account/edit" method="POST" class="form-signin">
                                    <div class="form-label-group">
                                        <label for="password">Nhập mật khẩu cũ</label>
                                        <input  pattern=".{4,}" type="password" id="oldpassword" name="oldpassword" class="form-control" required autofocus title="4 characters minimum">
                                    </div>
                                    <div class="form-label-group">
                                        <label for="password">Nhập mật khẩu mới</label>
                                        <input  pattern=".{4,}" type="password" id="newpassword" name="newpassword" class="form-control" required autofocus title="4 characters minimum">
                                    </div>
                                    <div class="form-label-group">
                                        <label for="password">Nhập lại mật khẩu mới</label>
                                        <input  pattern=".{4,}" type="password" id="confirm_password" name="confirm_password" class="form-control" required autofocus title="4 characters minimum">
                                        <span id="message"></span>
                                    </div>
                                    <input type="hidden" id="UserID" name="UserID" class="form-control" value="{{user.f_ID}}">
                                     <div class="d-flex justify-content-between">
                                        <button class="confirm mt-3 btn btn-lg btn-outline-light" type="submit">Lưu</button>
                                        <button class="mt-3 btn btn-outline-light"  onclick="redo();">Hủy</button>
                                    </div>
                    </form>
                    `);
                        $('#newpassword, #confirm_password').on('keyup', function () {
                            if ($('#newpassword').val() == $('#confirm_password').val()) {
                                $('#message').html('OK').css('color', 'green');
                            } else
                                $('#message').html('Nhập lại không đúng').css('color', 'red');
                        });
                    }
                    function redo() {
                        $('#thongtin').empty();
                        $('#thongtin').append(`<h3> Thông tin người dùng</h3>
            <div class="col col-md-auto pt-4">
                <p> Tên: {{user.f_Name}}</p>
                <p> Username : {{user.f_Username}}</p>
                <p> Địa chỉ Email: {{user.f_Email}}</p>
                <p> Địa chỉ: {{user.f_Address}}</p>
            </div>
            <a type="button" class="px-0 py-2 nav-link text-light" onclick="editPass();"> Đổi mật khẩu</a>
            <button class="btn btn-outline-light my-2 my-sm-0" onclick="editClick();">Chỉnh sửa</button>`);
                    }
                    function editClick() {
                        $('#thongtin').empty();
                        $('#thongtin').append(`
                          <form id="#editprofile" action="/account/edit" method="POST" class="form-signin">
                                    <div class="form-label-group">
                                        <label for="name">Tên</label>
                                        <input  pattern=".{6,}" type="text" id="name" name="name" class="form-control" value='{{user.f_Name}}' required autofocus title="6 characters minimum">
                                    </div>
                                    <div class="form-label-group">
                                        <label for="username">Username</label>
                                        <input pattern=".{6,}"  type="text" id="username" name="username" class="form-control" value="{{user.f_Username}}" required autofocus title="6 characters minimum">
                                    </div>
                                    <div class="form-label-group">
                                        <label for="email">Địa chỉ Email</label>
                                        <input type="text" id="email" name="email" class="form-control" value="{{user.f_Email}}" required autofocus>
                                    </div>
                                    <div class="form-label-group">
                                        <label for="dob">Địa chỉ</label>
                                        <input type="text" id="address" name="address" class="form-control" value="{{user.f_Address}}" required autofocus>
                                    </div>
                                    <input type="hidden" id="UserID" name="UserID" class="form-control" value="{{user.f_ID}}">
                                    <div class="d-flex justify-content-between">
                                        <button class="confirm mt-3 btn btn-lg btn-outline-light" type="submit">Lưu</button>
                                        <button class="mt-3 btn btn-outline-light" onclick="redo();">Hủy</button>
                                    </div>
                                    
                            </form>
                        `);
                    }
                      $(".confirm").on("click", function (event) {
                    if (confirm("Bạn có chắc muốn thực hiện hành động này?")) {
                        return true;
                    } else {
                        event.preventDefault();
                        return false;
                    }
                });
            </script>
            {{/section}}
        </div>
       
        <div class="col col-md-7 bg-secondary text-white rounded p-5 mr-5 ">
             <h3>{{user.Type}}</h3>
             {{#if_eq user.Type 'Bidder'}}
            <div class="col col-md-auto">
                <div>
                   
                    <p class="d-inline-block"> Điểm đánh giá: {{user.Rate}}%</p>
                    <a class="d-inline-block" href="/account/{{user.f_ID}}/rating"> Chi tiết</a>
                </div>

                <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/{{user.f_ID}}/favorite"> Danh
                        sách sản phẩm yêu thích</a>
                </div>
                <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/{{user.f_ID}}/bidding">
                        Danh sách sản phẩm đang tham gia đấu giá</a>
                </div>
                <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/{{user.f_ID}}/won">
                        Danh sách sản phẩm đã thắng </a>
                </div>

                <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/{{user.f_ID}}/tosell">
                       Xin nâng cấp thành Seller </a>
                </div>
                {{/if_eq}}
                {{#if_eq user.Type 'Seller'}}
                 <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/upload/{{user.f_ID}}">
                        Đăng sản phẩm đấu giá </a>
                </div>
                <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/{{user.f_ID}}/selling">
                       Danh sách sản phẩm đang bán </a>
                </div>
                 <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/{{user.f_ID}}/willsell">
                       Danh sách sản phẩm có người mua </a>
                </div>
                
                <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/{{user.f_ID}}/permission"> Danh sách xin phép đấu giá</a>
                </div>
                {{/if_eq}}
                {{#if_eq user.Type 'Administrator'}}
                 <div>
                    <a class="nav-link text-light d-inline-block px-0  " href="/account/sellpermiss">
                       Danh sách tài khoản xin nâng cấp </a>
                </div>
                {{/if_eq}}
            </div>
        </div>
    </div>


</div>