<div class="container-fluid bg-light">
    <div class="row">
        <div class="container-fluid px-0">
            {{>home/header}}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đánh giá</h5>
                        <form action="/rate/{{reUser.f_ID}}" method="POST" class="form-signin">
                            <div class="form-label">
                                <textarea name="comment" class="w-100" type="text" rows="3"
                                    placeholder="Viết đánh giá ở đây"></textarea>
                            </div>
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-6 pt-0">Điểm đánh giá</legend>
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="radio" name="rate"
                                                id="gridRadios1" value="1">
                                            <label class="form-check-label" for="gridRadios1">
                                                <i class="fa fa-thumbs-up" style="color:cornflowerblue"></i>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rate"
                                                id="gridRadios2" value="-1">
                                            <label class="form-check-label" for="gridRadios2">
                                                <i class="fa fa-thumbs-down" style="color: crimson;"></i>
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                            </fieldset>
                            <div class="d-flex justify-content-around">
                                <button class="btn btn-lg btn-primary " type="submit">Gửi</button>
                                <button class="btn btn-secondary " type="submit">Hủy</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>