<div class="row">
    <div class="container-fluid px-0">
        {{>home/header}}
    </div>
</div>
<div class="container-fluid mt">
    <h2 class="mt-2">
        Chi tiết đánh giá người dùng {{user.SellName}} : {{user.Rate}}%
    </h2>
    <table class="table table-striped" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Ngày đánh giá</th>
                <th>Người đánh giá </th>
                <th>Điểm đánh giá</th>
                <th>Comment</th>
            </tr>
        </thead>
        {{#each rates}}
        <tr>
            <td>{{@index}}</td>
            <td>{{Date}}</td>
            <td>{{SellName}}</td>
            <td>{{Rate}}</td>
            <td>{{Content}}</td>
        </tr>
        {{/each}}
    </table>
</div>