<div class="container-fluid bg-light">
  <div class="row">
            <div class="container-fluid px-0">
                {{>home/header}}
            </div>
        </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          
          <h5 class="card-title text-center">Register</h5>
          <form id="regis_form" action="/account/register" method="POST" class="form-signin">
          {{#if isFail}} <p class="text-danger"> Tên đăng nhập hoặc email đã bị trùng</p>{{/if}}
            <div class="form-label-group">
              <label for="name">Name</label>
              <input  pattern=".{6,}" type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus title="6 characters minimum">
            </div>
              <div class="form-label-group">
                <label for="dob">Địa chỉ</label>
              <input type="text" id="address" name="address" class="form-control" placeholder="Address" required autofocus>
              
            </div>
            <div class="form-label-group">
              <label for="username">Username</label>
              <input pattern=".{6,}"  type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus title="6 characters minimum">
              
            </div>

             <div class="form-label-group">
               <label for="email">Enter Email</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
              
            </div>

            <div class="form-label-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
             <div class="g-recaptcha" data-sitekey="6LcPm8sUAAAAAOebQcaN5MPUSh7AxAOVyDkN2ISo"></div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                class="fab fa-google mr-2"></i> Sign in with Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">
              <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
