<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/froala_editor.pkgd.min.js"></script>
    <style>
        .dropright:hover>.dropdown-menu {
            display: block;
        }

        .carousel-fade .active.carousel-item-prev,
        .carousel-fade .active.carousel-item-next {
            transition: 2s opacity ease;
        }

        /* Disable transitions for if reduced motion is enabled: */
        @media (prefers-reduced-motion:reduce) {

            .carousel-fade .active.carousel-item-prev,
            .carousel-fade .active.carousel-item-next {
                transition: none;
            }
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

<script type="text/javascript">
    function actOnPro(ProID, userID) {
        $.post("http://localhost:5000/account/favorite",
            {
                pro: ProID,
                user: userID,
            },
            function (data) {
                $(`.bt-${ProID}`).empty();
                if (data == '1')
                    $(`.bt-${ProID}`).append(`<button class="btn btn-sm btn-outline-success"
                        onclick="actOnPro(${ProID},${userID})">Yêu thích</button>`);
                else $(`.bt-${ProID}`).append(`<button class="btn btn-sm btn-success"
                        onclick="actOnPro(${ProID},${userID})">Yêu thích</button>`);
            }
        );

    }
</script>
<script>
    $(document).ready(function () {
        $('#regis_form').submit(function () {
            $(this).ajaxSubmit({
                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },
                success: function (response) {
                    console.log(response);
                }
            });
            //Very important line, it disable the page refresh.
            return false;
        });
    });
    $(".confirm").on("click", function(event){
    if(confirm("Bạn có chắc muốn thực hiện hành động này?")){
       return true;
    } else {
        event.preventDefault();
        return false;
    }
});
</script>
 {{{_sections.script}}}
</html>