<div class="col-md-10">
    {{#each content}}
    <div class="row mx-0 w-100 my-3">
        <div class="col-md-12">
            <h4> {{title}} </h4>
            {{#if ../select}}
        <form class="form-inline" action="/search" method="GET">
        <input type="hidden" id="key" name="key" value="{{#if ../key}}{{../key}}{{else}}{{/if}}">
        <input type="hidden" id="SearchSelect" name="SearchSelect" value="{{#if ../select}}{{../select}}{{else}}{{/if}}">
        <input type="hidden" id="page" name="page" value="1">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input {{#if ../isOrder1}} checked {{/if}} onchange="this.form.submit();" type="radio" class="form-check-input" value="1" name="order">Giá tăng dần
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input {{#if ../isOrder1}} {{else}} {{#if ../isOrder2}} checked {{/if}} {{/if}} onchange='this.form.submit();' type="radio" class="form-check-input" value="2" name="order">Thời gian kết thúc giảm dần
                </label>
            </div>
        </form>

        {{/if}}
        </div>
        
        {{#each ps}}
        <div class="col-block card p-1 m-1" style="text-decoration:none;color:black;width: 24%">
            <a href="/product/{{ProID}}">
                <div class="card-body" style="height: 70%;">
                    <img style="width:70%" src="/db/sp/{{ProID}}/main_thumbs.jpg" class="card-img-top" alt="{{ProID}}">
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ProName}}</h5>
                <p>Giá hiện tại: <strong class="text-danger">{{{formatedPrice}}}</strong></p>
                <p>Người trả giá cao nhất: <strong>{{TopName}}</strong></p>
                {{#if InstantPrice}} <p>Giá mua ngay: {{formatedInstPrice}}</p>{{/if}}
                <p><strong class="text-danger">{{TimeLeft}}</strong></p>
                <p><small>Lượt ra giá: {{Amount}}</small></p>
                <p><small>{{DateBegin}}</small></p>

            </div>
            <div class="p-2 d-flex flex-row-reverse justify-content-between align-items-center">
               {{#if isNew}}<h4><span class="badge badge-secondary">New</span></h4> {{/if}}
                {{#if ../../session}}
                <div class="bt-{{ProID}}">
                    <button class="btn btn-sm  {{#if isFav}}btn-success {{else}} btn-outline-success{{/if}}"
                        onclick="actOnPro({{ProID}},{{../../session.f_ID}})">Yêu thích</button>
                </div>

                {{else}}
                <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#myModal">
                    Yêu thích</button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Vui lòng đăng nhập để tiếp tục</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-primary" href="/account/login">Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}

</div>