<nav class="navbar navbar-expand-lg navbar-dark bg-secondary static-top">
    <div class="col-md-2 mx-auto">
        <a class="navbar-brand" href="/">Đấu giá đi</a>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0">
                <a class="nav-link" href="/cat">
                    Danh mục
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 mx-auto">
        <form class="form-inline" action="/search" method="GET">
            <input id="key" name="key" class="form-control w-50 mr-md-2" type="text" placeholder="Search"
                aria-label="Search" value="{{key}}">
               
            <select class="mx-1 form-control form-control-sm"  id="SearchSelect" name="SearchSelect">
                <option value ="1" >Tìm theo Tên</option>
                <option value ="2">Tìm theo Danh mục</option>
            </select>
             <input type="hidden" id="page" name="page" value="{{#if page}}{{page}}{{else}}1{{/if}}">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {{#if session}}
            <li class="nav-item mx-0">
                 <li class="nav-item mx-1">
                    <a class="btn btn-outline-light" href="/account/logout"> Đăng xuất</a>
                </li>
                <a class="nav-link" href="/account/profile">
                    Chào, {{session.f_Name}}
                </a>
            </li>
            {{else}}
            <li class="nav-item mx-1">
                <a class="btn btn-outline-light" href="/account/register">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light" href="/account/login">Đăng nhập</a>
            </li>
            {{/if}}
        </ul>
    </div>

</nav>