<div class="col-md-2 px-1">
    {{#each cats}}

    <div class="btn-group dropright w-100 py-1">
        <a class="btn btn-secondary mx-0 {{#if isActive}}active{{/if}}" role="button" href="/cat/{{CatID}}">
            {{CatName}}
        </a>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split col-2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropright</span>
        </button>
        <div class="dropdown-menu px-1">
            {{#each subCat}}
            <a class="mx-auto nav-link text-secondary" href="/subcat/{{SubCatID}}">
                {{SubCatName}}
            </a>
            {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</div>