<div class="container-fluid bg-light">
  <div class="row">
    <div class="container-fluid px-0">
      {{>home/header}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="m-2 p-3 bg-light text-dark row ">
      <h1 class="">THÔNG TIN SẢN PHẨM </h1>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
            <div class="bg-white carousel-item active">
              <img class="d-block w-100" src="/db/sp/{{ps.ProID}}/1.jpg" alt="First slide">
            </div>
            <div class="bg-white carousel-item">
              <img class="d-block w-100" src="/db/sp/{{ps.ProID}}/2.jpg" alt="Second slide">
            </div>
            <div class="bg-white carousel-item">
              <img class="d-block w-100" src="/db/sp/{{ps.ProID}}/3.jpg" alt="Third slide">
            </div>
          </div>

          <a class="carousel-control-prev bg-dark" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next bg-dark" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


      <div class="col-sm-7 col-md-7 col-lg-7 bg-light">
        <h3>{{ps.ProName}}</h3>
        <div class="row flex">
          <div class="col-sm-7 col-md-7 col-lg-7">
            <p class="text-danger">Giá hiện tại: <strong>{{ps.formatedPrice}}</strong></p>
            {{#if ps.InstantPrice}}<p>Giá mua ngay: <strong>{{ps.formatedInstPrice}} </strong> </p>{{/if}}
            <p>Ngày đăng: {{ps.DateBegin}}</p>
            <p>Người đăng: {{ps.SellName}}</p>
            <p>
              Điểm đánh giá <a href="/account/{{ps.SelID}}/rating"><strong class="text-danger">
                  {{ps.SellRate}}%</strong> </a>
            </p>
            {{#if isBidder}}
            <a href="/rate/{{ps.SelID}}">Đánh giá người bán</a>
            {{/if}}
            <h3 class="pt-4">{{ps.TimeLeft}}</h3>
            <div class="pt-3">
              <h2 class="py-3">
                Mô tả sản phẩm
              </h2>
              {{{ps.FullDes}}}
            </div>

          </div>
        </div>
        <div class="p-2 d-flex flex-row-reverse justify-content-around align-items-center">
          {{#if session}}
          <div class="bt-{{ps.ProID}}">
            <button class="btn btn-sm  {{#if ps.isFav}}btn-success {{else}} btn-outline-success{{/if}}"
              onclick="actOnPro({{ps.ProID}},{{session.f_ID}})">Yêu thích</button>
          </div>
          {{else}}
          <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#myModal">
            Yêu thích</button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vui lòng đăng nhập để tiếp tục</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a class="btn btn-primary" href="/account/login">Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if notOwn}}
          {{#if session}}
          <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#myModal">
            Đấu giá</button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {{#if session.isRate}}
                <div class="modal-body">
                  <form action="/bid" method="POST" class="form-signin">
                    <div class="form-label-group ">
                      <label for="username">Hãy nhập giá muốn trả</label>
                      <input type="number" id="price" name="price" step="{{ps.Step}}"
                        min="{{add ps.CurrentPrice ps.Step}}" {{#if ps.InstantPrice}} max="{{ps.InstantPrice}}" {{/if}}
                        class="form-control" value="{{add ps.CurrentPrice ps.Step}}">
                      <input type="hidden" id="pro" name="pro" value="{{ps.ProID}}">
                      <input type="hidden" id="user" name="user" value="{{session.f_ID}}">
                    </div>
                    <div class="mt-2 d-flex justify-content-around align-items-center">
                      <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
                      <button class="btn btn-lg btn-primary text-uppercase confirm" type="submit">Xác nhận</button>
                    </div>
                  </form>
                </div>
                {{else}}
                <div class="modal-body">
                  <p>Bạn chưa đạt đủ điểm đánh giá tối thiểu (80%) để tham gia đấu giá </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="/permiss" method="POST"> 
                        <input type="hidden" name="Pro" value="{{ps.ProID}}">
                        <input type="hidden" name="Sel" value="{{ps.SelID}}">
                        <input type="hidden" name="Bid" value="{{session.f_ID}}">
                        <button class="btn btn-primary" type="submit" >Xin phép teller</button>
                  </form> 
                  
                </div>
                {{/if}}
              </div>
            </div>
          </div>
          {{else}}
          <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#myModal">
            Đấu giá</button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vui lòng đăng nhập để tiếp tục</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a class="btn btn-primary" href="/account/login">Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
          {{/if}}

        </div>
      </div>
    </div>
    <div class=" row m-2 p-3 bg-light text-dark">
      <h1>LỊCH SỬ ĐẤU GIÁ </h1>
    </div>
    <table class="table table-striped" style="width:100%">
      <thead class="thead-dark">
        <tr>
          <th>Thời điểm </th>
          <th>Người mua</th>
          <th>Điểm đánh giá</th>
          <th>Giá</th>
        </tr>
      </thead>

      {{#each his}}
      <tr>
        {{#if @index }}
        <td>{{DateBegin}}</td>
        <td>{{f_Username}}</td>
        <td>
          <a href="/account/{{f_ID}}/rating">{{Rate}}%</a>
         
          </td>
        <td>{{formatedPrice}}</td>
        {{else}}
        <td><strong>{{DateBegin}}</strong></td>
        <td><strong>{{f_Username}}</strong></td>
        <td><a href="/account/{{f_ID}}/rating"><strong>{{Rate}}%</strong></a>
        {{#if own}} <a href="/rate/{{f_ID}}"> Đánh giá</a>{{/if}}
        </td>
        <td><strong>{{formatedPrice}}</strong></td>
        {{/if}}
      </tr>
      {{/each}}
    </table>
  </div>
</div>