<div class="container-fluid bg-light">
    <div class="row">
        <div class="container-fluid px-0">
            {{>home/header}}
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row">
            {{>home/side}}
            {{>home/content}}
            <div class="col-md-12 ">
                <div class="row justify-content-md-center">
                    <nav aria-label="Page nav">
                        <ul class="pagination">
                            {{#if navs.prev}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{navs.prev}}" aria-label="Presvious">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{else}}
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:;" tabindex="-1" aria-disable="true">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{/if}}
                            {{#each pages}}
                            {{#if active}}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">
                                    {{value}}
                                </a>
                            </li>
                            {{else}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{value}}">
                                    {{value}}
                                </a>
                            </li>
                            {{/if}}
                            {{/each}}
                            {{#if navs.next}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{navs.next}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {{else}}
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:;" tabindex="-1" aria-disabled="true">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
        </div>
    </div>
</div>