<div class="container-fluid bg-light">
    <div class="row">
        <div class="container-fluid px-0">
            {{>home/header}}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sản phẩm</h5>
                        <form  enctype="multipart/form-data"  action="/upload" method="POST" class="form-signin">
                            <div class="form-label-group">
                                <label for="name">
                                    Tên sản phẩm
                                </label>
                                <input type="text" name="name" class="form-control" placeholder="Tên sản phẩm" required
                                    autofocus>
                            </div>
                            <div class="form-label-group">
                                <label for="price">
                                    Giá khởi điểm
                                </label>
                                <input type="number" name="price" class="form-control" step="10000" min="0"
                                    placeholder="Giá khởi điểm" required autofocus>
                            </div>
                            <div class="form-label-group">
                                <label for="insprice">
                                    Giá mua ngay(tùy chọn)
                                </label>
                                <input type="number" name="insprice" class="form-control" step="10000" min="0"
                                    placeholder="Giá mua ngay" autofocus>
                            </div>
                            <div class="form-label-group">
                                <label for="step">
                                    Bước giá
                                </label>
                                <input type="number" name="step" class="form-control" step="10000"
                                    placeholder="Bội của 10,000" required autofocus>
                            </div>
                            <div class="form-check py-2">
                                <input class="form-check-input" type="checkbox" value="1" name="delay">
                                <label class="form-check-label" for="delay">
                                    Tự động gia hạn (10 phút) khi người mua lúc gần hết hạn
                                </label>
                            </div>
                            <div class="form-label-group">
                                <label for="enddate">
                                    Ngày kết thúc
                                </label>
                                <input id="dateinput"type="date" name="enddate" class="form-control" required>
                                 <label for="endtime">
                                    Giờ kết thúc
                                </label>
                                <input id="time" type="time" name="endtime" class="form-control" required>
                            </div>
                            <div class="form-label-group">
                                <label for="exampleFormControlSelect1">Chọn danh mục</label>
                                <select class="form-control" name="subcat" id="exampleFormControlSelect1">
                                    {{#each cat}}
                                    {{#each subCat}}
                                    <option value="{{SubCatID}}"> {{../CatName}} - {{SubCatName}}</option>
                                    {{/each}}
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-label-group">
                                <label for="des">Mô tả sản phẩm</label>
                                <textarea id="froala-editor" name="des" class="w-100" type="text" rows="3"
                                    placeholder="Viết đánh giá ở đây"></textarea>
                            </div>
                            <div class="form-label-group ">
                                <p >Thêm hình 3 hình</p>
                                <input  name="hinh1" type="file" required>
                                <input  name="hinh2" type="file" required>
                                <input  name="hinh3" type="file" required>
                            </div>
                            <div class="d-flex justify-content-around">
                                <button class="btn btn-lg btn-primary " type="submit">Tải lên</button>
                                <button class="btn btn-secondary " type="submit">Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
<script>
    $(function () { new FroalaEditor('textarea#froala-editor') });
    $(function time() {
        var d = new Date();
        document.getElementById("dateinput").setAttribute("min", d.toLocaleString('fr-CA').substring(0,10));
        return d.toLocaleString('fr-CA').substring(0,10);

    });
</script>
{{/section}}